[Unit]
Description=GITHUB webhook receiver
After=network.target
StartLimitIntervalSec=0
[Service]
WorkingDirectory=/home/hydro/github-webhook-receiver-service
Type=simple
Restart=always
RestartSec=5
User=hydro
ExecStart=/usr/bin/python3 listener.py --endpoint a1jt3uh16ux115-ats.iot.ap-southeast-2.amazonaws.com --ca_file ../root-CA.crt --cert ../cicdtest.cert.pem --key ../cicdtest.private.key --client_id basicPubSub --topic sdk/test/Python --count 0 --message ""

[Install]
WantedBy=multi-user.target
